<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>
		<form action="/calendar/login.php" method="POST">
			<input type="text" name="username">
			<input type="password" name="password">
		</form>
	</body>

</html>
