<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />

</head>

<body>
    <h1>{{ Nome }}</h1>

    <h2>Watchlist</h2>
    <ul>
        {{ #Watchlist }}

            <li>
                <!-- Não Botei a imagem direto pq ficava gigante -->
                {{ Name }} - {{ Banner.Caminho }}
            </li>

        {{ /Watchlist }}
    </ul>
    
    <h2>Avaliações</h2>
    <ul>
        {{ #Avaliacoes }}

            <li>
                <!-- Não Botei a imagem direto pq ficava gigante -->
                {{ Filme.Name }} - {{ Nota }}/5
            </li>

        {{ /Avaliacoes }}
    </ul>
    
    <h2>Comentários</h2>
    <ul>
        {{ #Comentarios }}

            <li>
                <!-- Não Botei a imagem direto pq ficava gigante -->
                {{ Nome }} em {{ Alvo.Name }}> {{ Conteudo }}
            </li>

        {{ /Comentarios }}
    </ul>
    
    <a href="/">Voltar</a>

</body>

</html> 